{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Meta.TabTitle }}</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div style="width: 100%; height: 100px;">
    <img src="/public/bacon.gif" alt="bacon gif" style="width: 120px; height: auto; float: left; margin-left: -20px;"/>
    <h1 style="position: relative; top: 40px; left: 10px;">{{ .Meta.Title }}</h1>
  </div>

  <h2>{{ .Meta.Subtitle }}</h2>
  <p align="justify">
    The Bodacious Advisor for Cuisine Over N-joyment ranks restaurants in London based on their Twitter's mentions. These data provide strong word-of-mouth power that can draw or drive away potential customers, and support and improve the effectiveness of your social media strategy. Our approach uses the Yelp Challenge Dataset to train a sentiment analysis algorithm, used to classify Tweets. To store this information we use Neo4j to provide a Graph-Based Knowledge Management system. These data are loaded on our Dataiku environment where the magic happens.
  </p>
  <p align="justify">
  Click here to see the location of the top 10 restaurant.
  </p>
  <p align="justify">
    Our team is based in Marionete Lisbon. To know more about our work and this project visit the <a href="https://marionete.co.uk/">Marionete website</a> and the <a href="https://github.com/spike-force-1-bacon-evaluators">B.A.C.O.N. GitHub repository</a>, or get in touch with us on <a href="https://sf1-bacon.slack.com/">Slack</a>.
  </p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Restaurant</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Restaurants }}
      <tr>
        <td>{{ .Position }}</td>
        <td>{{ .Name }}</td>
        <td>
          <span style="color: {{ .Indicator.Colour }}">{{ .Indicator.Direction }}</span> {{ .Variation }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  </div>
</div>
</body>
</html>
{{end}}