{{ define "map" }}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example creates circles on the map, representing populations in North
      // America.

      // First, create an object containing LatLng and population for each city.
      var citymap = {
        {{ .Name1 }}: {
          center: {{ .Location1 }},
          population: {{ .Score1 }}
        },
        foo2: {
          center: {{ .Location2 }},
          population: {{ .Score2 }}
        },
        foo3: {
          center: {{ .Location3 }},
          population: {{ .Score3 }}
        },
        foo4: {
          center: {{ .Location4 }},
          population: {{ .Score4 }}
        },
        foo5: {
          center: {{ .Location5 }},
          population: {{ .Score5 }}
        },
        foo6: {
          center: {{ .Location6 }},
          population: {{ .Score6 }}
        },
        foo7: {
          center: {{ .Location7 }},
          population: {{ .Score7 }}
        },
        foo8: {
          center: {{ .Location8 }},
          population: {{ .Score8 }}
        },
        foo9: {
          center: {{ .Location9 }},
          population: {{ .Score9 }}
        },
        foo10: {
          center: {{ .Location10 }},
          population: {{ .Score10 }}
        },
      };

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 51.500152, lng: -0.126236},
          mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: citymap[city].center,
            radius: Math.sqrt(citymap[city].population) * 100
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmsvTZySxnQHPGuXyz3pTNUfoCxnlqz1E&callback=initMap">
    </script>
  </body>
</html>
{{ end }}